/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
html {height: 100%;}
body {
   height: 100%;
   background-image: url('http://i.imgur.com/i2WZ2xJ.jpg');
   background-repeat: repeat;
   font-family: 'Josefin Sans', sans-serif;
 }

div#content, div#wrapper {
  width: 75em;
  margin: 0 auto;
  text-align: center;
  display: block;
  opacity: 0.98;
  z-index: -1;
}
h1, h2{
  font-family: 'Covered By Your Grace', cursive;
}
#submission-form{
  margin: 0 auto;
}


#main-user-button, #main-team-button, #main-show-button{
  width: 25em;
}

#user-show-photo{
  width: 500px;
  float: left;
  padding: 50px;
}
.navbar-link{
  padding-left: 1em;
}
.vertical{
  z-index: 1000;
}
#pitch{
  font-size: 30px;
}
.button#hover{
  background-color: #536C8D
}

#team-performer-image {
  width:  200px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 5px 5px #3C3C3C;
  text-align: left;
}
.small-block-grid-3{
  display: inline-block;
}

#user-id {
  width: 40em;
}
#main-user-button, .users {
  background-color: #575A65;
  text-align: center;
  min-height: 100%;
  box-shadow: inset 0 0 100px #575A65;
}
#main-show-button, .shows {
  background-color: #6C6368;
  min-height: 100%;
  text-align: center;
}
#main-team-button, .teams {
  background-color: #838689;
  min-height: 100%;
  text-align: center;
}
.column{
  border-color: black;
  border-width: thin;
}
#teamadd{
  width: 200px;
  margin: 0 auto;
}
#showform, #teamform{
  margin: 0 auto;
}

#link-text {
  color: #1D2E4C;
}

.indextitle{
  font-size: 5em;
}

#wrapper #content #teamtile {
  position: relative;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  margin: 0.5em;
}
#wrapper #content #teamtile img {
   width:  200px;
   height: 200px;
   border-radius: 15px;
   box-shadow: 5px 5px #3C3C3C;
   text-align: left;
}
#wrapper #content #usertile {
  position: relative;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  margin: 0.5em;
}
#wrapper #content #usertile img {
   width:  200px;
   height: 200px;
   border-radius: 15px;
   box-shadow: 5px 5px #3C3C3C;
   text-align: left;

}

#wrapper #content #showtile {
  position: relative;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  margin: 0.5em;
}

#showtile img {
   width:  200px;
   height: 200px;
   border-radius: 15px;
   box-shadow: 5px 5px #3C3C3C;
   text-align: left;

}

#show-index, #team-index, #user-index{
  display: inline-block;
   list-style: none;
   width: 100%;
   clear: both;
   margin-left: 0.4%;
 }

#main-tab-bar {
  width: 60em;
  margin: 0 auto;
  height: 100%;
  text-align: left;
}
li {
  list-style: none;
}

.top-bar{
  opacity: 0.8;
}

ul#adding-columns {
  font-size: 2em;
  text-align: center;
}

#main-headline{
  float: right;
  padding-bottom: 2em;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  font-family: 'Josefin Sans', sans-serif;
}

#show_list {
  align: center;
}
